/*  Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.flex-box {
  display: flex;
}

ul {
  list-style: none;
}

/* Regole header */

#main-nav {
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-around;
}

.row {
  width: 60%;
  margin: 0px auto;
  padding: 20px 0;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.row .col:first-child {
  width: calc((100% / 3) * 2 - 10px);
}



/* Regole footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#get-started {
  padding-top: 20px;
}

#get-started span {
  display: inline-block;
  margin-bottom: 20px;
}

#get-started h3 {
  margin-bottom: 40px;
}

#get-started h2 {
  margin-bottom: 20px;
}

#get-started p {
  margin-bottom: 20px;
}

#get-started button {
  margin-bottom: 20px;
}

#legal-infos {
  padding: 20px 0;
}

#legal-infos p {
  margin-bottom: 30px;
}


/* DEBUG */

body {
  background-color: white;
}

header {
  background-color: aqua;
}

#main-nav {
  background-color: brown;
}

#logo {
  background-color: aquamarine;
}

#nav-info {
  background-color: aquamarine;
}

.row {
  background-color: blueviolet;
}

.col {
  height: 150px;
  background-color: burlywood;
  border: 1px solid black;
}

main {
  height: 300px;
  background-color: blue;
}



#get-started {
  background-color: blueviolet;
}