/*  Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.flex-box {
  display: flex;
}

ul {
  list-style: none;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

/* Regole header */

#main-nav {
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-around;
}

.row {
  width: 60%;
  margin: 0px auto;
  padding: 20px 0;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.junbotrone .row .col:first-child {
  width: calc((100% / 3) * 2 - 10px);
}

/* regole sezione principale */

/* Regole strategic planning */

#strategic-planning-info {
  width: 60%;
  margin: 0 auto;
  background-color: aqua;
  padding: 40px 0;
}

#strategic-planning-info .img2 {
  float: right;
}

#strategic-planning-description {
  width: 50%;
  padding-top: 21px;
}

#strategic-planning-description h3 {
  margin-bottom: 30px;
}

/* Regole testimonial */

#testimonial {
  text-align: center;
  padding: 20px 0;
}

#testimonial-infos, .testimonial-quote{
  width: 60%;
  margin: 0 auto;
}

.testimonial-quote {
  background-color: blue;
  padding: 5px;
  margin-bottom: 20px;
}

#testimonial-infos {
  margin-bottom: 20px;
}

#testimonial-infos span {
  margin-bottom: 20px;
}

#testimonial-infos h2 {
  margin-bottom: 20px;
}

.testimonial-opinion p {
  text-align: left;
  margin-left: 30px;
}

.testimonial-opinion span {
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
}

/* Regole benefits */

#benefits {
  padding: 40px 0;
  background-color: brown;
  text-align: center;
}

#benefits-infos {
  margin: 0 auto;
}

#benefits-infos .col {
  text-align: left;
  padding: 20px 10px;
}

#benefits-infos .col h3 {
  margin: 10px 0;
}

#benefits-infos .col p {
  margin: 10px 0;
}





/* Regole footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#get-started {
  padding-top: 20px;
}

#get-started span {
  display: inline-block;
  margin-bottom: 20px;
}

#get-started h3 {
  margin-bottom: 40px;
}

#get-started h2 {
  margin-bottom: 20px;
}

#get-started p {
  margin-bottom: 20px;
}

#get-started button {
  margin-bottom: 20px;
}

#legal-infos {
  padding: 20px 0;
}

#legal-infos p {
  margin-bottom: 30px;
}


/* DEBUG */

body {
  background-color: white;
}

header {
  background-color: aqua;
}

#main-nav {
  background-color: brown;
}

#logo {
  background-color: aquamarine;
}

#nav-info {
  background-color: aquamarine;
}

.row {
  background-color: blueviolet;
}

.col {
  height: 350px;
  background-color: burlywood;
  border: 1px solid black;
}





#get-started {
  background-color: blueviolet;
}

.img1, .img2 {
  height: 200px;
  width: 300px;
  background-color: blueviolet;
}

#strategic-planning {
  background-color: blue;
}

#testimonial {
  /* height: 300px; */
  background-color: red;
}

.testimonial-photo {
  width: 300px;
  height: 100px;
  background-color: aqua;
}

/* #benefits {
  height: 800px;
} */